header {
    text-align: center;
    font-weight: bold;
    color: blue;
}
h1 {
    text-align: right;
    font-weight: bold;
    direction: rtl;
}
footer {
    text-align: center;
    font-weight: bold;
    color: red;
}